<!DOCTYPE html>
</html>
    <head>
        <title>Node.js-Cassandra CRUD</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
              <h2><%=page_title%></h2>
              <img src="https://www.oracle.com/webfolder/s/brand/assets/i/specimens/identity/logo/badge-color-print.gif">
            </div>
            <div class="page-container">
