<%- include layouts/header.ejs %>
    
        <h2>It's a Node and Cassandra CRUD demo application.</h2>
        <p>
        First &nbsp;<a class="a-inside init" href="/cassandrainfo">Click to initialize Cassandra</a>&nbsp; database!
        </p>
        
<%- include layouts/footer.ejs %>
